body {
  background-color: #fff;
  margin: 0 auto;
}

header {
  height: 150px;
  padding: 20px;
  margin: 0 auto;
}

.app-logo {
  display: block;
  padding: 20px;
  margin: 0 auto;
  height: 80px;
}

.spinner {
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.refresh {
  display: block;
  padding: 20px;
  margin: 0 auto;
  width: 160px;
}
