* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbfbfb;
  font-family: sans-serif;
  margin: 0 auto;
}

header {
  background-color: #0871AB;
  box-shadow:  0px 2px 7px #808080;
  height: 80px;
}

.app-logo {
  display: block;
  margin-left: 10px;
  padding: 12px 0;
  height: 60px;
}

.welcome, .analysisMessage {
  color: #004471;
  display: block;
  font-size: 40px;
  margin-top: 3%;
  text-align:center;
  width: 100%;
}

.analysisMessage {
  font-size: 26px;
}

.loading {
  display: block;
  margin: auto;
  min-height: 350px;
}

@keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .4;
    transform: scale(1, 1);
  }
}

.loading-dots {
  text-align: center;
  width: 100%;
  margin-top: 3%;
}

.loading-dots--dot {
  animation: dot-keyframes 1.5s infinite ease-in-out;
  background-color: #0971ab;
  border-radius: 10px;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.loading-dots--dot:nth-child(2) {
  animation-delay: .5s;
}

.loading-dots--dot:nth-child(3) {
  animation-delay: 1s;
}
